<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>proxy student list</title>
</head>
<body>
    <table border="2">
          <thead>
            <tr>
                <th>Roll Number</th>
                <th> Name</th>
                <th>Age</th>
            </tr>
          </thead>
          <tbody>
            {% for student in proxy_student_list %}
            <tr>
                <td>{{student.roll_no}}</td>
                <td>{{student.name}}</td>
                <td>{{student.age}}</td>
            </tr>
            {%  endfor %}
          </tbody>
    </table>
</body>
</html>